body{
    background-image: url("/images/page1-new.png");
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    display: inline;
  }

  li a {
      float: left;
      display: block;
      padding: 30px;
      color: #813919;
      text-decoration: none;
      font-size: 200%;
      
  }

  .navbar{
    margin-left: 300px;
    
  }

  